<%= render partial: 'layouts/errors', formats: [:html], locals: { klass: @post } %>

<%= f.label :author, class: 'control-label' %>
<input type="text" value="<%= current_admin.name %>" disabled>
<%= f.hidden_field :author_id, value: current_admin.id %>

<%= f.label :filepicker_url, "Image" %>
<input
  type="filepicker"
  class="pure-button pure-button-primary"
  data-fp-apikey="AmJqL5MJUSbuPOJA7JD2Iz"
  data-fp-mimetypes="image/*"
  data-fp-container="modal"
  onchange="window.setFilepickerImage(event.fpfile.url)">

<% if false %>
<%= link_to 'Pick File', '#', id: 'filepicker_url', class: 'pure-button pure-button-primary' %>
<% end %>
<%= f.hidden_field :filepicker_url %>

<div id="post-image">
  <% if @post.filepicker_url.present? %>
    <%= image_tag("#{@post.filepicker_url}") %>
  <% end %>
</div>

<%= f.label :title %>
<%= f.text_field :title, class: 'pure-input-1' %>

<%= f.label :slug %>
<%= f.text_field :slug, class: 'pure-input-1' %>

<%= f.label :body %>
<%= f.text_area :body, class: 'pure-input-1' %>

<%= f.label :abstract %>
<%= f.text_area :abstract, class: 'pure-input-1' %>

<%= f.label :meta_description %>
<%= f.text_field :meta_description, class: 'pure-input-1' %>

<%= f.label :meta_keywords %>
<%= f.text_field :meta_keywords, class: 'pure-input-1' %>

<%= f.label :enabled, class: 'control-label' %>
<%= f.check_box :enabled, value: @post.enabled? %>

<p>
  <%= f.submit 'Save Post', class: 'pure-button pure-button-primary' %>
</p>
