<% content_for :page_header do %>
  <h1>Login</h1>
<% end %>

<%= form_for :admin, url: admin_login_path, html: { class: 'pure-form pure-form-aligned' } do |f| %>
  <fieldset>
    <div class="pure-control-group">
      <%= f.label :username, 'Username' %>
      <%= f.text_field :username %>
    </div>
    <div class="pure-control-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="pure-controls">
      <%= f.submit 'Submit', class: 'pure-button pure-button-primary' %>
    </div>
  </fieldset>
<% end %>
