<article>
  <%= link_to 'mailto:jeff@humani.se', id: 'me' do %>
    <%= content_tag :figure, nil, style: bg(asset_url('me.png')) %>
    <h3>Jeff Miller</h3>
  <% end %>

  <span class="blurb">Conducting code in the Bay -- Hella.</span>

  <div id="social-links">
    <%= link_to 'jeff@humani.se', 'mailto:jeff@humani.se', id: 'social-email' %>

    <% SOCIAL.each do |network, url| %>
      <%= link_to url, target: '_blank', class: network do %>
        <i class="hu-<%= network %>"></i>
      <% end %>
    <% end %>
  </div>

</article>
