<aside class="glass-box">
  <h3>Posts</h3>
  <ul>
    <li>Blah and blah</li>
    <li>Rails Stuff</li>
    <li>Ipsum Lorum</li>
  </ul>
</aside>

<% @posts.each do |post| %>
  <article class="glass-box">
    <div class="post" id="<%= post.id %>">
      <div class="header">
        <div class="calendar">
          <span class="month"><%= post.published_at.strftime('%B') %></span>
          <span class="day"><%= post.published_at.day %></span>
          <span class="year"><%= post.published_at.year %></span>
        </div>
        <h2><%= post.title %></h2>
      </div>
      <div class="body">
        <%= post.abstract.html_safe %>
      </div>      
      <div class="slidey-image" style="background-image:url(<%= "#{post.filepicker_url}/convert?w=680" %>);"></div>
    </div>
  </article>
<% end %>