
<div class="row-fluid">
  <div class="span9">
    <!-- Posts Index -->

    <% @posts.each do |post| %>
      <article class="glass-box">
        <div class="post" id="<%= post.id %>">
          <a href="<%= blog_post_path(post.url_title) %>">
            <div class="photo-holder">

              <!-- Calendar + Cropped Article Photo -->
              <div class="calendar">
                <span class="month"><%= post.published_at.strftime('%B') %></span>
                <span class="day"><%= post.published_at.day %></span>
                <span class="year"><%= post.published_at.year %></span>
              </div>
              <div class="post-photo">
                <%= filepicker_image_tag post.filepicker_url, w: 250, h: 150, fit: 'crop' %>
              </div>

              <!-- Effect Layers -->
              <div class="calendar-glass"></div>
              <div class="post-photo-shadowed"></div>

            </div>
          </a>

          <h2><%= link_to post.title, blog_post_path(post.url_title) %></h2>

          <div class="body">
            <%= post.abstract.html_safe %>
          </div>
        </div>
      </article>
      <br />
    <% end %>

  </div>
  <div class="span3">
    <%= render partial: 'sidebar' %>
  </div>
</div>

