
<section>
  <% @posts.each do |post| %>
    <article id="<%= post.id %>" class="post">
      <%= link_to blog_post_path(post.url_title), class: 'post-thumbnail' do %>
        <time class="post-published-date" datetime="<%= post.published_at.to_date.to_s %>">
          <small><%= post.published_at.strftime('%B') %></small>
          <big><%= post.published_at.day %></big>
          <small><%= post.published_at.year %></small>
        </time>
        <%= filepicker_image_tag post.filepicker_url, w: 250, h: 150, fit: 'crop' %>
      <% end %>

      <%= link_to blog_post_path(post.url_title), class: 'post-title' do %>
        <h2><%= post.title %></h2>
      <% end %>

      <p><%= post.abstract.html_safe %></p>
    </article>
  <% end %>
</section>

<aside>
  <%= render partial: 'sidebar' %>
</aside>
