<section>
  <% @posts.each do |post| %>
    <article id="<%= post.id %>" class="post">

      <!-- Figure + Date Info -->
      <%= link_to blog_post_path(post.url_title), class: 'post-thumbnail', style: bg(post.filepicker_url) do %>
        <time datetime="<%= post.published_at.to_date.to_s %>">
          <small><%= post.published_at.strftime('%B') %></small>
          <big><%= post.published_at.day %></big>
          <small><%= post.published_at.year %></small>
        </time>
      <% end %>

      <!-- Content -->
      <div class="post-content">
        <%= link_to blog_post_path(post.url_title) do %>
          <h2 wrap="bt-rl"><%= post.title %></h2>
        <% end %>
        <p><%= post.abstract.html_safe %></p>
        <%= link_to icon('ellipsis-h'), blog_post_path(post.url_title) %>
      </div>

    </article>
  <% end %>
</section>

<aside>
  <%= render partial: 'sidebar' %>
</aside>
