<section>
  <% @posts.each do |post| %>
    <article id="<%= post.id %>" class="post">

      <div class="post-date">
        <time class="post-published-date" datetime="<%= post.published_at.to_date.to_s %>">
          <small><%= post.published_at.strftime('%B') %></small>
          <big><%= post.published_at.day %></big>
          <small><%= post.published_at.year %></small>
        </time>
      </div>

      <!-- Background Image + Date Info -->
      <%= link_to '', blog_post_path(post.url_title), class: 'post-thumbnail', style: bg(post.filepicker_url) %>


      <!-- Content -->
      <div class="post-content" style="<% if false %><%= bg(post.filepicker_url) %><% end %>">
          <h2 class="post-title" wrap="bt-rl">
            <%= link_to post.title, blog_post_path(post.url_title) %>
          </h2>

          <div class="post-abstract">
            <p><%= post.abstract.html_safe %></p>
          </div>

      </div>
    </article>
  <% end %>
</section>

<aside>
  <%= render partial: 'sidebar' %>
</aside>
