<%= content_for :head do %>
  <meta itemprop="name" content="<%= @post.title %>">
  <meta itemprop="description" content="<%= @post.abstract %>">
  <meta itemprop="image" content="<%= @post.filepicker_url %>">
  <meta property="fb:admins" content="ibanez270dx"/>
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:description" content="<%= @post.meta_description %>">
  <meta property="og:url" content="<%= blog_post_url(@post.url_title) %>" />
  <meta property="og:image" content="<%= @post.filepicker_url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="Humani.se" />
<% end %>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55a3768c374b8b23" async="async"></script>


<section>
  <article id="<%= @post.id %>" class="post">
    <figure class="post-figure">
      <%= filepicker_image_tag @post.filepicker_url %>
      <figcaption>Posted on <%= human_date @post.published_at %></figcaption>
    </figure>

    <% if false %>
    <div id="social-mobile">
      <ul>
        <li>
          <div class="fb-like" data-href="<%= blog_post_url(@post.url_title, domain: 'humani.se', port: nil) %>" data-layout="box_count" data-width="450" data-action="like" data-show-faces="false" data-share="false"></div>
        </li>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-lang="en">Tweet</a>
        </li>
        <li>
          <div class="g-plusone" data-size="tall"></div>
        </li>
        <li class="linkedin">
          <script type="IN/Share" data-url="<%= blog_post_url(@post.url_title, domain: 'humani.se', port: nil) %>" data-counter="top"></script>
        </li>
      </ul>
    </div>
    <% end %>

    <h1><%= link_to @post.title, blog_post_path(@post.url_title) %></h1>
    <p><%= markdown @post.body %></p>
  </article>

  <article class="comments">
    <h2>Comments</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'humanise';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </article>
</section>

<aside>
  <%= render partial: 'sidebar' %>

  <article class="sidebar related-posts">
    <h4>Other Posts</h4>
    <% @posts.each do |post| %>
      <span class="separator"></span>
      <%= link_to post.title, blog_post_path(post.url_title) %>
    <% end %>
  </article>

  <% if false %>
  <ul id="social-buttons">
    <li class="facebook">
      <div class="fb-like" data-href="<%= blog_post_url(@post.url_title, domain: 'humani.se', port: nil) %>" data-layout="button_count" data-width="450" data-action="like" data-show-faces="false" data-share="false"></div>
    </li>
    <li class="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="ibanez270dx">Tweet</a>
    </li>
    <li class="google-plus">
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
      <g:plusone></g:plusone>
    </li>
    <li class="linkedin">
      <script type="IN/Share" data-url="<%= blog_post_url(@post.url_title, domain: 'humani.se', port: nil) %>" data-counter="right"></script>
    </li>
  </ul>
  <% end %>
</aside>
