<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row-fluid">
  <div class="span9">

    <!-- Post -->
    <article class="glass-box">
      <div class="post" id="<%= @post.id %>">
        <div class="article-photo">
          <%= filepicker_image_tag(@post.filepicker_url, { w: 850, fit: 'crop' }, class: 'article-photo' ) %>
        </div>
        <div class="photo-shadow"></div>
        <h5>Posted on <%= human_date @post.published_at %></h5>
        <h2><%= link_to @post.title, blog_post_path(@post.url_title) %></h2>

        <div class="body"><%= markdown @post.body %></div>
      </div>
    </article>

    <br />

    <article class="glass-box solid">
      <h2>Comments</h2><br />
      <div class="fb-comments" data-href="<%= blog_post_url(@post.url_title) %>" data-width="750" data-num-posts="10" data-colorscheme="dark"></div>
    </article>

  </div>
  <div class="span3">
    <!-- Sidebar -->

    <aside class="glass-box">
      Something
      <ul>
        <li>Popular</li>
        <li>Blah de Blah</li>
        <li>Stuff</li>
      </ul>
    </aside>

  </div>
</div>

