
<div class="row-fluid">
  <div class="span9">

    <!-- Post -->
    <article class="glass-box">
      <div class="post" id="<%= @post.id %>">
        <div class="article-photo">
          <%= filepicker_image_tag(@post.filepicker_url, { w: 850, fit: 'crop' }, class: 'article-photo' ) %>
        </div>
        <div class="photo-shadow"></div>
        <h5>Posted on <%= human_date @post.published_at %></h5>
        <h2><%= link_to @post.title, blog_post_path(@post.url_title) %></h2>

        <div class="body"><%= markdown @post.body %></div>
      </div>
    </article>
    <br />

  </div>
  <div class="span3">
    <!-- Sidebar -->

    <aside class="glass-box">
      Something
      <ul>
        <li>Popular</li>
        <li>Blah de Blah</li>
        <li>Stuff</li>
      </ul>
    </aside>

  </div>
</div>

