<%= content_for :head do %>
  <meta property="fb:admins" content="ibanez270dx"/>
<% end %>

<%= content_for :root do %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<% end %>

<div id="articles">

  <article id="<%= @post.id %>" data-background='blurred'>
    <div class="photo">
      <%= filepicker_image_tag(@post.filepicker_url, { w: '768', fit: 'crop' }, id: 'photo' ) %>
      <h5>Posted on <%= human_date @post.published_at %></h5>
    </div>
    <div id="social-mobile">
      <ul>
        <li>
          <div class="fb-like" data-href="<%= blog_post_url(@post.url_title, domain: 'humani.se', port: nil) %>" data-layout="box_count" data-width="450" data-action="like" data-show-faces="false" data-share="false"></div>
        </li>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-lang="en">Tweet</a>
        </li>
        <li>
          <div class="g-plusone" data-size="tall"></div>
        </li>
      </ul>
    </div>
    <h2><%= link_to @post.title, blog_post_path(@post.url_title) %></h2>
    <p><%= markdown @post.body %></p>
  </article>

  <article data-background='blurred'>
    <h2>Comments</h2><br />
    <div class="fb-comments" data-href="<%= blog_post_url(@post.url_title, domain: 'humani.se', port: nil) %>" data-width="750" data-num-posts="10" data-colorscheme="dark"></div>
  </article>

</div>

<aside>
  <%= render partial: 'sidebar' %>
  <br />
  <article id="related-posts" data-background='blurred'>
    <h4>Other Posts</h4>
    <% @posts.each do |post| %>
      <span class="separator"></span>
      <%= link_to post.title, blog_post_path(post.url_title) %>
    <% end %>
  </article>

  <ul id="social-buttons">
    <li>
      <div class="fb-like" data-href="<%= blog_post_url(@post.url_title, domain: 'humani.se', port: nil) %>" data-layout="button_count" data-width="450" data-action="like" data-show-faces="false" data-share="false"></div>
    </li>
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="ibanez270dx">Tweet</a>
    </li>
    <li>
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
      <g:plusone></g:plusone>
    </li>
  </ul>
</aside> 
