<%= content_for :head do %>
  <meta property="fb:admins" content="ibanez270dx"/>
<% end %>

<%= content_for :root do %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<% end %>

<div class="row-fluid">
  <div class="span9">

    <!-- Post -->
    <article class="glass-box">
      <div class="post" id="<%= @post.id %>">
        <div class="article-photo">
          <%= filepicker_image_tag(@post.filepicker_url, { w: 850, fit: 'crop' }, class: 'article-photo' ) %>
        </div>
        <div class="photo-shadow"></div>
        <h5>Posted on <%= human_date @post.published_at %></h5>
        <h2><%= link_to @post.title, blog_post_path(@post.url_title) %></h2>

        <div class="body"><%= markdown @post.body %></div>
      </div>
    </article>

    <br />

    <article class="glass-box solid">
      <h2>Comments</h2><br />
      <div class="fb-comments" data-href="<%= blog_post_url(@post.url_title) %>" data-width="750" data-num-posts="10" data-colorscheme="dark"></div>
    </article>

  </div>
  <div class="span3">
    <%= render partial: 'sidebar' %>
    <div class="social-buttons">
      <ul>
        <li><div class="fb-like" data-href="<%= blog_post_url(@post.url_title) %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="segoe ui"></div></li>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="ibanez270dx">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </li>
        <li>
          <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
          <g:plusone></g:plusone>
        </li>
    </div>
  </div>
</div>

