<%= content_for :head do %>
  <meta itemprop="name" content="<%= @post.title %>">
  <meta itemprop="description" content="<%= @post.abstract %>">
  <meta itemprop="image" content="<%= @post.filepicker_url %>">
  <meta property="fb:admins" content="ibanez270dx"/>
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:description" content="<%= @post.meta_description %>">
  <meta property="og:url" content="<%= blog_post_url(@post.url_title) %>" />
  <meta property="og:image" content="<%= @post.filepicker_url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="Humani.se" />
<% end %>

<section>
  <article id="<%= @post.id %>" class="post">
    <%= content_tag :figure, style: bg(@post.filepicker_url) do %>
      <figcaption>
        <h1 wrap="bt" scale-font="0.055"><%= @post.title %></h1>
        <span>Posted on <%= human_date @post.published_at %></span>
      </figcaption>
    <% end %>
    <section class="post-content">
      <%= markdown @post.body %>
    </section>
  </article>

  <article class="comments">
    <h2>Comments</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'humanise';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </article>
</section>

<aside>
  <%= render partial: 'sidebar' %>

  <article class="sidebar related-posts">
    <h4>Other Posts</h4>
    <% @posts.enabled.each do |post| %>
      <%= link_to post.title, blog_post_path(post.url_title) %>
    <% end %>
  </article>

</aside>
