<!DOCTYPE html>
<html class="main <%= "#{controller.controller_path.split('/').join(' ')} #{controller.action_name.gsub(/_/, '-')}" %>">
  <head>
    <title><%= @title || "Humani.se" %></title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Gloria+Hallelujah|Homenaje|Inconsolata|Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body data-background>
    <%= yield :root %>

    <header data-background='blurred'>
      <div class="content">
        <%= link_to about_path do %>
          <h1>humani.se</h1>
        <% end %>
        <nav>
          <ul>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Blog', blog_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="page">
      <%= yield %>
    </section>

    <footer>
      <%= yield :footer %>
    </footer>
  </body>
</html>
