<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Humani.se" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= render 'layouts/google_analytics' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js"></script>

  </head>
  <body class="<%= "#{controller.controller_path.split('/').join(' ')} #{controller.action_name.gsub(/_/, '-')}" %>">
    <header>
      <nav>
        <%= link_to about_path, id: 'humanise' do %>
          <h1>humani.se</h1>
          <%= image_tag('logo.png', class: 'nav-logo') %>
        <% end %>
        <%= link_to 'About', about_path %>
        <%= link_to 'Blog', blog_path %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= yield :footer %>
    </footer>
  </body>
</html>
